<div class="container">
  <div class="toast" *ngIf="mostrarToast">
    {{ mensagem }}
  </div>
  <div class="filtros">
    <input type="text" placeholder="Buscar..." [(ngModel)]="search" (input)="onSearchChange()" />

    <input type="date" [(ngModel)]="dataFiltro" (change)="filtrar()" />

    <button (click)="limparFiltro()">Limpar</button>
  </div>

  <h2 *ngIf="!comunicadoSelecionado">Novo Comunicado</h2>
  <h2 *ngIf="comunicadoSelecionado">Editando Comunicado</h2>

  <div [class.editando]="comunicadoSelecionado">
    <app-comunicados-form
      [comunicado]="comunicadoSelecionado"
      (criado)="onCriado()"
    ></app-comunicados-form>

    <button class="btn-secondary cancel" *ngIf="comunicadoSelecionado" (click)="cancelarEdicao()">
      Cancelar edição
    </button>
  </div>
  <hr />

  <h2>Comunicados</h2>

  @for (c of comunicados; track c.id) {
    <div class="card">
      <h3>{{ c.titulo }}</h3>

      <p>{{ c.descricao }}</p>

      <small>
        {{ c.data | date: 'dd/MM/yyyy' }}
      </small>

      <div class="acoes">
        <button class="btn" (click)="editar(c)">Editar</button>

        @if (confirmandoDeleteId === c.id) {
          <button class="btn-danger" (click)="deletar(c.id)" [disabled]="deletandoIds.has(c.id)">
            {{ deletandoIds.has(c.id) ? 'Deletando...' : 'Confirmar' }}
          </button>

          <button class="btn-secondary" (click)="cancelarDelete()">Cancelar</button>
        } @else {
          <button class="btn-danger" (click)="deletar(c.id)">Deletar</button>
        }
      </div>
    </div>
  }
  <div class="paginacao">
    <button (click)="paginaAnterior()">⬅ Anterior</button>

    <span>Página {{ paginaAtual }}</span>

    <button (click)="proximaPagina()">Próxima ➡</button>
  </div>
</div>
